@mixin estilo-redes-sociales {
    color: #ffffff; 
    transition: color 0.3s ease; 
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 50%; 
    padding: 5px; 

    &:hover {
        color: #ffcc00; 
    }
}
header div {
    text-align: center;
}

h1 {
    color: $color-dorado;
    text-align: center;
    padding: 20px;
}

h2 {
    color: $color-dorado;
    text-align: left;
    padding: 20px;
}

h6 {
    text-align: left;
    padding: 15px;
}
p {
    font-size: 18px;
    padding: 10px;
}
h4 {
    padding: 18px;
}
.logo {
    border-radius: 50%;
    width: 140px;
    display: block;
    margin: 0 auto 0 60px;

    
}

ul {
    list-style-type: none;
}

.menu li a:hover {
    color: $color-blanco;
    background-color: $color-dorado;
    border-radius: 10px;
}


.menu {
    .facebook,
    .instagram {
        @include estilo-redes-sociales;
    }
}

.border {
    border-top: solid;
}

.nav {
    border-bottom: solid;
}

.dropdown-menu {
    background-color: #343a40;

    

    .dropdown-item {
        color: $color-blanco;

        
        font-size: 17px;

        &:hover {
            background-color: $color-dorado;

            
        }
    }
}

.navbar {
    justify-content: center;
    
    

    
}

.navbar-nav .nav-link {
    font-size: 18px;

    
    margin-right: 62px;
}
.menu collapse navbar-collapse {
    text-align: center;
}


