.video-carousel-section {
    padding: 20px;

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        background: rgba(128, 128, 128, 0.2); 
        padding: 20px;
        border-radius: 10px;
        width: 100%; 
        max-width: 95vw; 
        margin: 0 auto; 
        box-sizing: border-box; 
    }

    .video-container {
        position: relative;
        background-color: rgba(255, 255, 255, 0.9); 
        border-radius: 10px;
        overflow: hidden;
        display: flex; 
        align-items: center; 
        justify-content: center; 

        iframe {
            width: 100%;
            height: 100%;
            min-height: 200px; 
            aspect-ratio: 16 / 9; 
            object-fit: cover; 
        }
    }

    .carousel-container {
        border-radius: 10px;
        padding: 20px;
        overflow: hidden;

        #carouselExampleIndicators {
            width: 100%; 
            max-width: 100%; 

            .carousel-item img {
                width: 100%;
                height: auto;
                max-height: 300px; 
                object-fit: cover; 
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            filter: invert(1); 
        }

        .carousel-control-prev {
            left: 10px;
        }

        .carousel-control-next {
            right: 10px;
        }
    }
}



.lujo {
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/cocinalujo.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: relative; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); 
    padding: 20px;
    box-sizing: border-box;
}

.servicios-section {
    text-align: center;
}

.servicios-section h2 {
    color: #fff; 
    margin-bottom: 20px;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.service {
    max-width: 300px;
    padding: 20px;
    background-color:  rgba(128, 128, 128, 0.2);
    color: white;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1; 
}

.service i {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
    
}

.service h3 {
    margin: 0;
    font-size: 20px;
    color: #fff; 
}

.service:hover {
    transform: scale(1.05); 
}


.socios {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socios section {
    width: 100%;
    max-width: 12000px;
    padding: 200px;
}

.socios video {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: none;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff; 
    text-decoration: none;
    z-index: 1;
}

.modal iframe {
    width: 100%;
    height: auto;
}

#modal-video:target {
    display: flex;
    justify-content: center;
    align-items: center;
}


.tituloservicio {
    padding: 20px;
}

.tituloservicio h2 {
    text-align: center;
}
.container h4{
     color: goldenrod;
     padding: 16px;
}
.container h6{
    padding: 10px;
}
.container {
    background-color: rgba(128, 128, 128, 0.2); 
    padding: 50px;
    border-radius: 10px;
    width: 100%; 
    max-width: 95vw; 
    margin: 50px auto; 
    box-sizing: border-box; 
}
