main {
    h1, h2, p {
        padding: 15px;
    }
}

.mision {
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/Tendencias-inmobiliarias-en-Colombia-primer-trimestre-2023.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

} 