.texto p {
    padding: 10px;
    text-align: left;
}
.history {
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/328913959_1618350681963484_8200614196009930542_n.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    
    h1, p {
        padding: 18px; 
    }
}

.texto p {
    padding: 10px;
    text-align: left;
}
