.texto p {
    padding: 10px;
    text-align: left;
}
.history {
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/328913959_1618350681963484_8200614196009930542_n.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    // Estilos para los títulos y párrafos dentro de .history
    h1, h2, p {
        padding: 15px; // Agrega espacio dentro del borde
    }
}

.texto p {
    padding: 10px;
    text-align: left;
}
