@media only screen and (max-width: 480px) {
    .catalog {
        grid-template-columns: 1fr; /* Una columna para centrar las tarjetas en pantallas pequeñas */
    }

    .cart-section {
        max-width: 90%;
        margin: 10px auto;
    }

    #cart-items {
        max-height: 200px;
    }

    #checkout, #clear-cart {
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
        font-size: 1em;
    }
}

/* Responsividad para pantallas pequeñas a medianas (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .catalog {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .cart-section {
        max-width: 95%;
        margin: 15px auto;
    }

    #cart-items {
        max-height: 250px;
    }

    #checkout, #clear-cart {
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
    }
}

/* Responsividad para pantallas medianas (768px - 979px) */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .catalog {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .cart-section {
        max-width: 90%;
        margin: 20px auto;
    }

    #checkout, #clear-cart {
        width: auto;
        margin-right: 10px;
        font-size: 1.1em;
    }
}

/* Responsividad para pantallas grandes (980px - 1200px) */
@media only screen and (min-width: 980px) and (max-width: 1200px) {
    .catalog {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .cart-section {
        max-width: 80%;
        margin: 20px auto;
    }

    #checkout, #clear-cart {
        width: auto;
        margin-right: 10px;
    }
}

/* Responsividad para pantallas extra grandes (1200px y más) */
@media only screen and (min-width: 1200px) {
    .catalog {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .cart-section {
        max-width: 70%;
        margin: 20px auto;
    }

    #checkout, #clear-cart {
        width: auto;
        margin-right: 10px;
    }
}

/* Media queries para la página de visión */
@media only screen and (min-width: 1201px) {
    /* Estilos para pantallas grandes */
    .vision h1 {
        font-size: 32px; /* Tamaño de fuente para dispositivos grandes */
    }

    .vision p {
        font-size: 18px; /* Tamaño de fuente para dispositivos grandes */
        line-height: 1.6; /* Interlineado para dispositivos grandes */
    }

    .vision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de visión aquí si es necesario */
}

@media only screen and (min-width: 980px) and (max-width: 1200px) {
    /* Estilos para pantallas medianas (980px - 1200px) */
    .vision h1 {
        font-size: 28px; /* Tamaño de fuente para dispositivos medianos */
    }

    .vision p {
        font-size: 16px; /* Tamaño de fuente para dispositivos medianos */
        line-height: 1.5; /* Interlineado para dispositivos medianos */
    }
    .vision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de visión aquí si es necesario */
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    /* Estilos para pantallas medianas (768px - 979px) */
    .vision h1 {
        font-size: 24px; /* Tamaño de fuente para dispositivos medianos */
    }

    .vision p {
        font-size: 14px; /* Tamaño de fuente para dispositivos medianos */
        line-height: 1.4; /* Interlineado para dispositivos medianos */
    }
    .vision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de visión aquí si es necesario */
}

@media only screen and (max-width: 767px) {
    /* Estilos para pantallas pequeñas (481px - 767px) */
    .vision h1 {
        font-size: 20px; /* Tamaño de fuente para dispositivos pequeños */
    }

    .vision p {
        font-size: 12px; /* Tamaño de fuente para dispositivos pequeños */
        line-height: 1.3; /* Interlineado para dispositivos pequeños */
    }
    .vision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de visión aquí si es necesario */
}

/* Estilos para pantallas muy pequeñas (480px o menos) */
@media only screen and (max-width: 480px) {
    /* Estilos para pantallas muy pequeñas (480px o menos) */
    .vision h1 {
        font-size: 18px; /* Tamaño de fuente para dispositivos muy pequeños */
    }

    .vision p {
        font-size: 10px; /* Tamaño de fuente para dispositivos muy pequeños */
        line-height: 1.2; /* Interlineado para dispositivos muy pequeños */
    }
    .vision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de visión aquí si es necesario */
}
@media only screen and (max-width: 320px) {
    /* Estilos para pantallas de 320px */
    .vision h1 {
        font-size: 16px; /* Tamaño de fuente para dispositivos de 320px */
    }

    .vision p {
        font-size: 9px; /* Tamaño de fuente para dispositivos de 320px */
        line-height: 1.1; /* Interlineado para dispositivos de 320px */
    }
    .vision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }
}



/* Estilos para pantallas muy grandes (1201px o más) */
@media only screen and (min-width: 1201px) {
    .valores {
        padding: 50px 100px; /* Ajusta el padding según necesidades */
    }

    .valores-lista li {
        font-size: 18px; /* Tamaño de fuente para dispositivos grandes */
    }
    .valores img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de valores aquí si es necesario */
}

/* Estilos para pantallas medianas (980px - 1200px) */
@media only screen and (min-width: 980px) and (max-width: 1200px) {
    .valores {
        padding: 50px 10px; /* Ajusta el padding según necesidades */
    }

    .valores-lista li {
        font-size: 18px; /* Tamaño de fuente para dispositivos medianos */
    }
    .valores img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de valores aquí si es necesario */
}

/* Estilos para pantallas medianas (768px - 979px) */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .valores {
        padding: 50px 10px; /* Ajusta el padding según necesidades */
    }

    .valores-lista li {
        font-size: 18px; /* Tamaño de fuente para dispositivos medianos */
    }
    .valores img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de valores aquí si es necesario */
}

/* Estilos para pantallas pequeñas (481px - 767px) */
@media only screen and (max-width: 767px) {
    .valores {
        padding: 50px 10px; /* Ajusta el padding según necesidades */
    }

    .valores-lista li {
        font-size: 18px; /* Tamaño de fuente para dispositivos pequeños */
    }
    .valores img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de valores aquí si es necesario */
}

/* Estilos para pantallas muy pequeñas (480px o menos) */
@media only screen and (max-width: 480px) {
    .valores {
        padding: 50px 5px; /* Ajusta el padding según necesidades */
    }

    .valores-lista li {
        font-size: 14px; /* Tamaño de fuente para dispositivos muy pequeños */
    }
    .valores img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de valores aquí si es necesario */
}
@media only screen and (max-width: 320px) {
    .valores {
        padding: 50px 5px; /* Ajusta el padding según necesidades */
    }

    .valores-lista li {
        font-size: 12px; /* Tamaño de fuente para dispositivos de 320px */
    }
    .valores img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }
}


/* Estilos para pantallas muy grandes (1201px o más) */
@media only screen and (min-width: 1201px) {
    .history {
        padding: 50px 100px; /* Ajusta el padding según necesidades */
    }

    .history h1 {
        font-size: 32px; /* Tamaño de fuente para dispositivos grandes */
    }

    .history p {
        font-size: 18px; /* Tamaño de fuente para dispositivos grandes */
        line-height: 1.6; /* Interlineado para dispositivos grandes */
    }
    .history img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de historia aquí si es necesario */
}

/* Estilos para pantallas medianas (980px - 1200px) */
@media only screen and (min-width: 980px) and (max-width: 1200px) {
    .history {
        padding: 50px 10px; /* Ajusta el padding según necesidades */
    }

    .history h1 {
        font-size: 28px; /* Tamaño de fuente para dispositivos medianos */
    }

    .history p {
        font-size: 16px; /* Tamaño de fuente para dispositivos medianos */
        line-height: 1.5; /* Interlineado para dispositivos medianos */
    }
    .history img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de historia aquí si es necesario */
}

/* Estilos para pantallas medianas (768px - 979px) */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .history {
        padding: 50px 10px; /* Ajusta el padding según necesidades */
    }

    .history h1 {
        font-size: 24px; /* Tamaño de fuente para dispositivos medianos */
    }

    .history p {
        font-size: 14px; /* Tamaño de fuente para dispositivos medianos */
        line-height: 1.4; /* Interlineado para dispositivos medianos */
    }
    .history img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de historia aquí si es necesario */
}

/* Estilos para pantallas pequeñas (481px - 767px) */
@media only screen and (max-width: 767px) {
    .history {
        padding: 50px 10px; /* Ajusta el padding según necesidades */
    }

    .history h1 {
        font-size: 20px; /* Tamaño de fuente para dispositivos pequeños */
    }

    .history p {
        font-size: 12px; /* Tamaño de fuente para dispositivos pequeños */
        line-height: 1.3; /* Interlineado para dispositivos pequeños */
    }
    .history img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

    /* Agrega más estilos específicos para la página de historia aquí si es necesario */
}

/* Estilos para pantallas muy pequeñas (480px o menos) */
@media only screen and (max-width: 480px) {
    .history {
        padding: 50px 5px; /* Ajusta el padding según necesidades */
    }

    .history h1 {
        font-size: 18px; /* Tamaño de fuente para dispositivos muy pequeños */
    }

    .history p {
        font-size: 10px; /* Tamaño de fuente para dispositivos muy pequeños */
        line-height: 1.2; /* Interlineado para dispositivos muy pequeños */
    }
    .history img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }


    /* Agrega más estilos específicos para la página de historia aquí si es necesario */
}
@media only screen and (max-width: 320px) {
    .history {
        padding: 50px 5px; /* Ajusta el padding según necesidades */
    }

    .history h1 {
        font-size: 16px; /* Tamaño de fuente para dispositivos de 320px */
    }

    .history p {
        font-size: 8px; /* Tamaño de fuente para dispositivos de 320px */
        line-height: 1.1; /* Interlineado para dispositivos de 320px */
    }
    .history img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }
}

/* Estilos para pantallas muy grandes (1201px o más) */
@media only screen and (min-width: 1201px) {
    .mision {
        padding: 50px 100px; /* Ajusta el padding según necesidades */
    }

    .mision h1, .mision h2 {
        font-size: 32px; /* Tamaño de fuente para dispositivos grandes */
    }

    .mision p {
        font-size: 18px; /* Tamaño de fuente para dispositivos grandes */
        line-height: 1.6; /* Interlineado para dispositivos grandes */
    }
    .mision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

}

/* Estilos para pantallas medianas (980px - 1200px) */
@media only screen and (min-width: 980px) and (max-width: 1200px) {
    .mision {
        padding: 50px 10px; /* Ajusta el padding según necesidades */
    }

    .mision h1, .mision h2 {
        font-size: 28px; /* Tamaño de fuente para dispositivos medianos */
    }

    .mision p {
        font-size: 16px; /* Tamaño de fuente para dispositivos medianos */
        line-height: 1.5; /* Interlineado para dispositivos medianos */
    }
    .mision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }
}

/* Estilos para pantallas medianas (768px - 979px) */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .mision {
        padding: 50px 10px; /* Ajusta el padding según necesidades */
    }

    .mision h1, .mision h2 {
        font-size: 24px; /* Tamaño de fuente para dispositivos medianos */
    }

    .mision p {
        font-size: 14px; /* Tamaño de fuente para dispositivos medianos */
        line-height: 1.4; /* Interlineado para dispositivos medianos */
    }
    .mision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }
}

/* Estilos para pantallas pequeñas (481px - 767px) */
@media only screen and (max-width: 767px) {
    .mision {
        padding: 50px 10px; /* Ajusta el padding según necesidades */
    }

    .mision h1, .mision h2 {
        font-size: 20px; /* Tamaño de fuente para dispositivos pequeños */
    }

    .mision p {
        font-size: 12px; /* Tamaño de fuente para dispositivos pequeños */
        line-height: 1.3; /* Interlineado para dispositivos pequeños */
    }
    .mision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }
}

/* Estilos para pantallas muy pequeñas (480px o menos) */
@media only screen and (max-width: 480px) {
    .mision {
        padding: 50px 5px; /* Ajusta el padding según necesidades */
    }

    .mision h1, .mision h2 {
        font-size: 18px; /* Tamaño de fuente para dispositivos muy pequeños */
    }

    .mision p {
        font-size: 10px; /* Tamaño de fuente para dispositivos muy pequeños */
        line-height: 1.2; /* Interlineado para dispositivos muy pequeños */
    }
    .mision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }

}
@media only screen and (max-width: 320px) {
    .mision {
        padding: 50px 5px; /* Ajusta el padding según necesidades */
    }

    .mision h1, .mision h2 {
        font-size: 16px; /* Tamaño de fuente para dispositivos de 320px */
    }

    .mision p {
        font-size: 8px; /* Tamaño de fuente para dispositivos de 320px */
        line-height: 1.1; /* Interlineado para dispositivos de 320px */
    }
    .mision img {
        max-width: 100%; /* La imagen ocupará como máximo el ancho de su contenedor */
        height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
        background-size: cover;
    }
}


@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .formulario {
      padding: 5vw;
      width: 70%;
      font-size: 3vw;
    }
  
    .mapa {
      padding-bottom: 20vw;
      max-width: 100%; /* Ajuste para el ancho completo */
    }
  }
  
  /* Estilos para pantallas medianas (768px - 980px) */
  @media only screen and (min-width: 768px) and (max-width: 980px) {
    .formulario {
      padding: 5vw;
      width: 80%;
      font-size: 3vw;
    }
  
    .mapa {
      padding-bottom: 25vw;
      max-width: 100%; /* Ajuste para el ancho completo */
    }
  }
  
  /* Estilos para pantallas pequeñas (481px - 767px) */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .formulario {
      padding: 5vw;
      width: 90%;
      font-size: 3vw;
    }
  
    .mapa {
      padding-bottom: 30vw;
      max-width: 100%; /* Ajuste para el ancho completo */
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .formulario {
        padding: 5vw;
        width: 90%;
        font-size: 3vw;
    }

    .mapa {
        padding-bottom: 35vw;
        max-width: 100%; /* Ajuste para el ancho completo */
    }
}


@media only screen and (max-width: 320px) {
    .servicios {
        flex-direction: row; /* Mantiene los elementos en fila */
        overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
        padding: 5px;
    }

    .service {
        flex: 0 0 auto;
        max-width: 100%; /* Ajusta el ancho máximo al 100% */
        font-size: 12px;
        margin: 5px;
    }

    .service i {
        font-size: 30px;
    }

    .service h3 {
        font-size: 12px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .servicios {
        flex-direction: row; /* Mantiene los elementos en fila */
        overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
        padding: 10px;
    }

    .service {
        flex: 0 0 auto;
        max-width: 100%; /* Ajusta el ancho máximo al 100% */
        font-size: 14px;
        margin: 10px;
    }

    .service i {
        font-size: 35px;
    }

    .service h3 {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .servicios {
        flex-direction: row; /* Mantiene los elementos en fila */
        overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
        padding: 20px;
    }

    .service {
        flex: 0 0 auto;
        max-width: 45%; /* Ajusta el ancho máximo al 45% */
        font-size: 16px;
        margin: 15px;
    }

    .service i {
        font-size: 40px;
    }

    .service h3 {
        font-size: 16px;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1200px) {
    .servicios {
        flex-direction: row; /* Mantiene los elementos en fila */
        overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
        padding: 30px;
    }

    .service {
        flex: 0 0 auto;
        max-width: 30%; /* Ajusta el ancho máximo al 30% */
        font-size: 18px;
        margin: 20px;
    }

    .service i {
        font-size: 45px;
    }

    .service h3 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1201px) {
    .servicios {
        flex-direction: row; /* Mantiene los elementos en fila */
        overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
        padding: 40px;
    }

    .service {
        flex: 0 0 auto;
        max-width: 22%; /* Ajusta el ancho máximo al 22% */
        font-size: 20px;
        margin: 20px;
    }

    .service i {
        font-size: 50px;
    }

    .service h3 {
        font-size: 20px;
    }
}






@media only screen and (max-width: 320px) {
    .video-carousel-section {
        .grid-container {
            grid-template-columns: 1fr; // Una columna para centrado en pantallas extremadamente pequeñas
            padding: 5px; // Reduce el padding para pantallas muy pequeñas
        }

        .video-container {
            iframe {
                min-height: 150px; // Ajusta la altura mínima del iframe en pantallas extremadamente pequeñas
            }
        }

        .carousel-container {
            padding: 5px; // Reduce el padding en pantallas muy pequeñas

            #carouselExampleIndicators {
                .carousel-item img {
                    max-height: 150px; // Limita la altura máxima de la imagen en pantallas extremadamente pequeñas
                }
            }
        }
    }
}

// Responsividad para pantallas pequeñas (321px - 480px)
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .video-carousel-section {
        .grid-container {
            grid-template-columns: 1fr; // Una columna para centrado en pantallas pequeñas
            padding: 10px; // Reduce el padding para pantallas pequeñas
        }

        .video-container {
            iframe {
                min-height: 200px; // Ajusta la altura mínima del iframe en pantallas pequeñas
            }
        }

        .carousel-container {
            padding: 10px; // Reduce el padding en pantallas pequeñas

            #carouselExampleIndicators {
                .carousel-item img {
                    max-height: 200px; // Limita la altura máxima de la imagen en pantallas pequeñas
                }
            }
        }
    }
}

// Responsividad para pantallas pequeñas a medianas (481px - 767px)
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .video-carousel-section {
        .grid-container {
            grid-template-columns: 1fr; // Una columna para centrado en pantallas pequeñas a medianas
        }

        .video-container {
            iframe {
                min-height: 250px; // Ajusta la altura mínima del iframe para pantallas pequeñas a medianas
            }
        }

        .carousel-container {
            padding: 15px; // Ajusta el padding en pantallas pequeñas a medianas

            #carouselExampleIndicators {
                .carousel-item img {
                    max-height: 250px; // Limita la altura máxima de la imagen en pantallas pequeñas a medianas
                }
            }
        }
    }
}

// Responsividad para pantallas medianas (768px - 979px)
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .video-carousel-section {
        .grid-container {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Dos columnas para pantallas medianas
        }

        .video-container {
            iframe {
                min-height: 300px; // Ajusta la altura mínima del iframe para pantallas medianas
            }
        }

        .carousel-container {
            padding: 20px; // Padding estándar para pantallas medianas

            #carouselExampleIndicators {
                .carousel-item img {
                    max-height: 300px; // Limita la altura máxima de la imagen para pantallas medianas
                }
            }
        }
    }
}

// Responsividad para pantallas grandes (980px - 1200px)
@media only screen and (min-width: 980px) and (max-width: 1200px) {
    .video-carousel-section {
        .grid-container {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Dos columnas para pantallas grandes
        }

        .video-container {
            iframe {
                min-height: 350px; // Ajusta la altura mínima del iframe para pantallas grandes
                max-height: 100%; // Se ajusta al contenedor sin excederlo
            }
        }

        .carousel-container {
            padding: 20px; // Padding estándar para pantallas grandes

            #carouselExampleIndicators {
                .carousel-item img {
                    max-height: 350px; // Limita la altura máxima de la imagen para pantallas grandes
                }
            }
        }
    }
}

// Responsividad para pantallas extra grandes (1200px en adelante)
@media only screen and (min-width: 1200px) {
    .video-carousel-section {
        .grid-container {
            grid-template-columns: repeat(2, 1fr); // Dos columnas para pantallas extra grandes
            gap: 30px; // Mayor espacio entre columnas
            padding: 30px; // Padding estándar para pantallas extra grandes
        }

        .video-container {
            iframe {
                min-height: 400px; // Ajusta la altura mínima del iframe para pantallas extra grandes
                max-height: 100%; // Se ajusta al contenedor sin excederlo
            }
        }

        .carousel-container {
            padding: 30px; // Padding estándar para pantallas extra grandes

            #carouselExampleIndicators {
                .carousel-item img {
                    max-height: 400px; // Limita la altura máxima de la imagen para pantallas extra grandes
                }
            }
        }
    }
}

// Responsividad para pantallas de 1024px x 600px
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .video-carousel-section {
        .grid-container {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Ajusta el número de columnas
            gap: 20px; // Espaciado entre columnas
            padding: 20px; // Padding estándar para pantallas de tamaño medio
        }

        .video-container {
            iframe {
                min-height: 300px; // Ajusta la altura mínima del iframe para pantallas de tamaño medio
                max-height: 100%; // Se ajusta al contenedor sin excederlo
            }
        }

        .carousel-container {
            padding: 20px; // Padding estándar para pantallas de tamaño medio

            #carouselExampleIndicators {
                .carousel-item img {
                    max-height: 300px; // Ajusta la altura máxima de la imagen para pantallas de tamaño medio
                    object-fit: cover; // Mantiene la imagen cubierta sin distorsión
                }
            }
        }
    }
}